In [0]:
# FIRST STEP TO DO 
# Create a dataframe by name empDF using  EMP.parquet file

In [0]:
empdf=spark.read.option("InferSchema","true").parquet("dbfs:/FileStore/EMP.parquet")
empdf.printSchema()
empdf.show()

root
 |-- EMPNO: integer (nullable = true)
 |-- ENAME: string (nullable = true)
 |-- JOB: string (nullable = true)
 |-- MGRID: integer (nullable = true)
 |-- HIREDATE: date (nullable = true)
 |-- SALARY: integer (nullable = true)
 |-- COMM: string (nullable = true)
 |-- DEPTNO: integer (nullable = true)

+-----+------+---------+-----+----------+------+----+------+
|EMPNO| ENAME|      JOB|MGRID|  HIREDATE|SALARY|COMM|DEPTNO|
+-----+------+---------+-----+----------+------+----+------+
| 7369| SMITH|    CLERK| 7902|1980-12-17|   800|   0|    20|
| 7499| ALLEN| SALESMAN| 7698|1981-02-20|  1600| 300|    30|
| 7521|  WARD| SALESMAN| 7698|1981-02-22|  1250| 500|    30|
| 7566| JONES|  MANAGER| 7839|1981-04-02|  2975|   0|    20|
| 7654|MARTIN| SALESMAN| 7698|1981-09-28|  1250|1400|    30|
| 7698| BLAKE|  MANAGER| 7839|1981-05-01|  2850|null|    30|
| 7782| CLARK|  MANAGER| 7839|1981-06-09|  2450|null|    10|
| 7788| SCOTT|  ANALYST| 7566|1987-04-19|  3000|null|    20|
| 7839|  KING|PRESIDENT|    0|1981-11-17|  4000|   0|    10|
| 7844|TURNER| SALESMAN| 7698|1981-09-08|  2500|   0|    30|
| 7876| ADAMS|    CLERK| 7788|1987-05-23|  1500|   0|    20|
| 7900| JAMES|    CLERK| 7698|1981-12-03|   950|   0|    30|
| 7902|  FORD|  ANALYST| 7566|1981-12-03|  3000|   0|    20|
| 7934|MILLER|    CLERK| 7782|1982-01-23|  2000|   0|    10|
+-----+------+---------+-----+----------+------+----+------+

In [0]:
#CHANGE THE “null” STRING TO ACTUAL NULL VALUE(where evere "0" is there all "0" are repalcing with "null" becaues of its datatype (StringType))
from pyspark.sql.functions import * 
newemp=empdf.withColumn("COMM",when(col("COMM").isin("null", "0"),None).otherwise(col("COMM"))) 
newemp.show()

+-----+------+---------+-----+----------+------+----+------+
|EMPNO| ENAME|      JOB|MGRID|  HIREDATE|SALARY|COMM|DEPTNO|
+-----+------+---------+-----+----------+------+----+------+
| 7369| SMITH|    CLERK| 7902|1980-12-17|   800|null|    20|
| 7499| ALLEN| SALESMAN| 7698|1981-02-20|  1600| 300|    30|
| 7521|  WARD| SALESMAN| 7698|1981-02-22|  1250| 500|    30|
| 7566| JONES|  MANAGER| 7839|1981-04-02|  2975|null|    20|
| 7654|MARTIN| SALESMAN| 7698|1981-09-28|  1250|1400|    30|
| 7698| BLAKE|  MANAGER| 7839|1981-05-01|  2850|null|    30|
| 7782| CLARK|  MANAGER| 7839|1981-06-09|  2450|null|    10|
| 7788| SCOTT|  ANALYST| 7566|1987-04-19|  3000|null|    20|
| 7839|  KING|PRESIDENT|    0|1981-11-17|  4000|null|    10|
| 7844|TURNER| SALESMAN| 7698|1981-09-08|  2500|null|    30|
| 7876| ADAMS|    CLERK| 7788|1987-05-23|  1500|null|    20|
| 7900| JAMES|    CLERK| 7698|1981-12-03|   950|null|    30|
| 7902|  FORD|  ANALYST| 7566|1981-12-03|  3000|null|    20|
| 7934|MILLER|    CLERK| 7782|1982-01-23|  2000|null|    10|
+-----+------+---------+-----+----------+------+----+------+

In [0]:
#                                                                              FIND OUT COMM WITH NULL 
# 1. USING WHERE: 
newemp.where("COMM is null").show() 
# 2. USING isnull() 
newemp.filter(isnull("comm")).show()

+-----+------+---------+-----+----------+------+----+------+
|EMPNO| ENAME|      JOB|MGRID|  HIREDATE|SALARY|COMM|DEPTNO|
+-----+------+---------+-----+----------+------+----+------+
| 7369| SMITH|    CLERK| 7902|1980-12-17|   800|null|    20|
| 7566| JONES|  MANAGER| 7839|1981-04-02|  2975|null|    20|
| 7698| BLAKE|  MANAGER| 7839|1981-05-01|  2850|null|    30|
| 7782| CLARK|  MANAGER| 7839|1981-06-09|  2450|null|    10|
| 7788| SCOTT|  ANALYST| 7566|1987-04-19|  3000|null|    20|
| 7839|  KING|PRESIDENT|    0|1981-11-17|  4000|null|    10|
| 7844|TURNER| SALESMAN| 7698|1981-09-08|  2500|null|    30|
| 7876| ADAMS|    CLERK| 7788|1987-05-23|  1500|null|    20|
| 7900| JAMES|    CLERK| 7698|1981-12-03|   950|null|    30|
| 7902|  FORD|  ANALYST| 7566|1981-12-03|  3000|null|    20|
| 7934|MILLER|    CLERK| 7782|1982-01-23|  2000|null|    10|
+-----+------+---------+-----+----------+------+----+------+

+-----+------+---------+-----+----------+------+----+------+
|EMPNO| ENAME|      JOB|MGRID|  HIREDATE|SALARY|COMM|DEPTNO|
+-----+------+---------+-----+----------+------+----+------+
| 7369| SMITH|    CLERK| 7902|1980-12-17|   800|null|    20|
| 7566| JONES|  MANAGER| 7839|1981-04-02|  2975|null|    20|
| 7698| BLAKE|  MANAGER| 7839|1981-05-01|  2850|null|    30|
| 7782| CLARK|  MANAGER| 7839|1981-06-09|  2450|null|    10|
| 7788| SCOTT|  ANALYST| 7566|1987-04-19|  3000|null|    20|
| 7839|  KING|PRESIDENT|    0|1981-11-17|  4000|null|    10|
| 7844|TURNER| SALESMAN| 7698|1981-09-08|  2500|null|    30|
| 7876| ADAMS|    CLERK| 7788|1987-05-23|  1500|null|    20|
| 7900| JAMES|    CLERK| 7698|1981-12-03|   950|null|    30|
| 7902|  FORD|  ANALYST| 7566|1981-12-03|  3000|null|    20|
| 7934|MILLER|    CLERK| 7782|1982-01-23|  2000|null|    10|
+-----+------+---------+-----+----------+------+----+------+

In [0]:
#                                                                               FIND OUT COMM WITHOUT NULL 
# 3. USING WHERE 
newemp.where("COMM is NOT null").show() 
#4. USING isNotNull() 
newemp.filter(col("COMM").isNotNull()).show()

+-----+------+--------+-----+----------+------+----+------+
|EMPNO| ENAME|     JOB|MGRID|  HIREDATE|SALARY|COMM|DEPTNO|
+-----+------+--------+-----+----------+------+----+------+
| 7499| ALLEN|SALESMAN| 7698|1981-02-20|  1600| 300|    30|
| 7521|  WARD|SALESMAN| 7698|1981-02-22|  1250| 500|    30|
| 7654|MARTIN|SALESMAN| 7698|1981-09-28|  1250|1400|    30|
+-----+------+--------+-----+----------+------+----+------+

+-----+------+--------+-----+----------+------+----+------+
|EMPNO| ENAME|     JOB|MGRID|  HIREDATE|SALARY|COMM|DEPTNO|
+-----+------+--------+-----+----------+------+----+------+
| 7499| ALLEN|SALESMAN| 7698|1981-02-20|  1600| 300|    30|
| 7521|  WARD|SALESMAN| 7698|1981-02-22|  1250| 500|    30|
| 7654|MARTIN|SALESMAN| 7698|1981-09-28|  1250|1400|    30|
+-----+------+--------+-----+----------+------+----+------+

In [0]:
#isnull() WITH SELECT RESULTS BOOLEAN OUTPUT 
newemp.select("empno", "ename",isnull("COMM").alias("NOCOMM")).show()

+-----+------+------+
|empno| ename|NOCOMM|
+-----+------+------+
| 7369| SMITH|  true|
| 7499| ALLEN| false|
| 7521|  WARD| false|
| 7566| JONES|  true|
| 7654|MARTIN| false|
| 7698| BLAKE|  true|
| 7782| CLARK|  true|
| 7788| SCOTT|  true|
| 7839|  KING|  true|
| 7844|TURNER|  true|
| 7876| ADAMS|  true|
| 7900| JAMES|  true|
| 7902|  FORD|  true|
| 7934|MILLER|  true|
+-----+------+------+

In [0]:
#CHANGE THE NULL VALUE TO 0 
newemp.fillna({"COMM":0}).show()

+-----+------+---------+-----+----------+------+----+------+
|EMPNO| ENAME|      JOB|MGRID|  HIREDATE|SALARY|COMM|DEPTNO|
+-----+------+---------+-----+----------+------+----+------+
| 7369| SMITH|    CLERK| 7902|1980-12-17|   800|   0|    20|
| 7499| ALLEN| SALESMAN| 7698|1981-02-20|  1600| 300|    30|
| 7521|  WARD| SALESMAN| 7698|1981-02-22|  1250| 500|    30|
| 7566| JONES|  MANAGER| 7839|1981-04-02|  2975|   0|    20|
| 7654|MARTIN| SALESMAN| 7698|1981-09-28|  1250|1400|    30|
| 7698| BLAKE|  MANAGER| 7839|1981-05-01|  2850|   0|    30|
| 7782| CLARK|  MANAGER| 7839|1981-06-09|  2450|   0|    10|
| 7788| SCOTT|  ANALYST| 7566|1987-04-19|  3000|   0|    20|
| 7839|  KING|PRESIDENT|    0|1981-11-17|  4000|   0|    10|
| 7844|TURNER| SALESMAN| 7698|1981-09-08|  2500|   0|    30|
| 7876| ADAMS|    CLERK| 7788|1987-05-23|  1500|   0|    20|
| 7900| JAMES|    CLERK| 7698|1981-12-03|   950|   0|    30|
| 7902|  FORD|  ANALYST| 7566|1981-12-03|  3000|   0|    20|
| 7934|MILLER|    CLERK| 7782|1982-01-23|  2000|   0|    10|
+-----+------+---------+-----+----------+------+----+------+